.link{  
    padding-top :0.2rem;
    width : 8rem;
    height : 50%;
    display : flex;
    align-items : center;
    justify-content : center;
    border-radius : 0.1rem;
    background-color : var(--background);
    cursor : pointer;
}
.link:hover{
    background-color : var(--onbackground);
}

.selected{
    transition : all 0.3s;
    background-color : var(--onbackground-sup) !important; 
}
