.dropzone, .uploads{
    width : 200px;
    height : 100px;
    border : 0.3rem dashed darkkhaki;
    border-radius : 0.3rem;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
}

.dropzone{
    cursor: pointer;
}

.dropzone:hover{
    background-color : rgba(0,0,0,0.1);
}

.disabled{
    background-color : rgba(0,0,0,0.1) !important;
    cursor: default;
}


.icon{
    font-size : 2rem;
}

.iconButton{
    font-size : 2rem;
}

.validate{
    color : green;
}

.cancel{
    color : red;
}
.neutral{
    border : none;
    background : transparent;
}
.neutral:hover{
    border : none;
    background : var(--onbackground);
}
