@font-face {
  font-family: "Maiandra";
  src: url(./fonts/Mainandra.ttf);
}
@font-face {
  font-family: "LGC";
  src: url(./fonts/LouisGeorgeCafe.ttf);
}
@font-face {
  font-family: "Garet";
  src: url(./fonts/Garet-Book.ttf);
}

:root{
    --primary : #75a8b8;
    --secondary : #8b4741;
    --tertiary : #98C474;
    --background :#F7F2EC;
    --onbackground : #DEDAD5;
    --onbackground-sup : #B8B4B0;
    --text : #383736;
    --text-light : #787673;
}

* {
    margin : 0;
    padding : 0;
    font-family: "Garet";
}

body, #__next{
    width : 100vw;
    height :100vh;
    background : var(--background);
}

h1 {
    font-family: "Mainandra";
    font-size : 4rem;
}
h2 {
    font-family: "Mainandra";
    font-size : 2rem;
}
h3 {
    font-family: "Mainandra";
    font-size : 2rem;
}

tr,tr, td {
    border : 1px solid black;
}

p {
    font-family: "Garet";
    padding : 1rem 0;
    color : var(--text);
}

.Metamask, .WalletConnect{
    width : 48px;
    height : 48px;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    paddin : 10px;
}

.Metamask{
    background-image : url("./img/metamask.png");
}

.WalletConnect{
    background-image : url("./img/walletConnect.png");
}

.btn-icon{
  width: 48px;
  height: 48px;
}
.loader {
  position: relative;
  width: 48px;
  height: 48px;
}

.spinner {
  position: absolute;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  background-image: url("./img/loader.png");
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: steps(24, end);
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.block{
    position : relative;
    display : flex;
    flex-direction : column;
    border : 2px solid var(--secondary);
    padding : 2rem;
    border-radius : 0.4rem;
}

.overlay{
    position : absolute;
    background-color : var(--text-light);
    top : 0.2rem;
    bottom : 0.2rem;
    right : 0.2rem;
    left : 0.2rem;
    border-radius : inherit;
    opacity : 0.9;
    filter: blur(5px);
}