select {
    border : 2px solid var(--primary);
    padding : 0.4rem;
    background : transparent;
    border-radius : 0.2rem;
    height : 2.2rem;
}

select:focus-within{
    background : var(--onbackground);
    outline: 2px solid var(--primary);
}